---
- name: Add Docker repo (containerd.io)
  shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg |
    gpg --dearmor -o /usr/share/keyrings/docker.gpg
    echo "deb [signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu noble stable" > /etc/apt/sources.list.d/docker.list
  args:
    creates: /etc/apt/sources.list.d/docker.list

- name: Install containerd.io
  apt:
    name: containerd.io
    state: present
    update_cache: yes

- name: Deploy full containerd config
  template:
    src: config.toml.j2
    dest: /etc/containerd/config.toml
  register: cont_conf
  notify:
    - restart containerd
    - wait containerd

- name: Ensure containerd running
  systemd:
    name: containerd
    state: started
    enabled: yes