---
- name: Add Kubernetes repo
  shell: |
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v{{ k8s_major }}/deb/Release.key |
    gpg --dearmor -o /etc/apt/keyrings/kubernetes.gpg
    echo "deb [signed-by=/etc/apt/keyrings/kubernetes.gpg] https://pkgs.k8s.io/core:/stable:/v{{ k8s_major }}/deb/ /" > /etc/apt/sources.list.d/kubernetes.list
  args:
    creates: /etc/apt/sources.list.d/kubernetes.list

- name: Install k8s tools
  apt:
    name:
      - kubelet={{ k8s_version }}-1.1
      - kubeadm={{ k8s_version }}-1.1
      - kubectl={{ k8s_version }}-1.1
    state: present
    update_cache: yes

- name: Hold versions
  dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop: [kubelet, kubeadm, kubectl]